#root {
  max-width: 1512px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/Background.svg);
}

.app {
  max-width: 781px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}